.display {
  height: 60px;
  background-color: gray;
  width: 100%;
}

.display p {
  font-size: 40px;
  margin: 5px;
}

.calculator-body {
  max-width: 400px;
  margin: auto;
}

.button {
  display: block;
  background-color: #bbb;
}

.calculator-body h1 {
  text-align: center;
}

button {
  width: 25%;
  height: 60px;
  font-size: 30px;
}